@charset "utf-8";
#header {
    border-style: none;
    width: 800px;
    height: auto;
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    width: 800px;
}
body {
    background-color: #E0E0E0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
h1 {
    color: #270c39;
}
#banner_2 {
    background-color: #3455eb;
    color: white;
}
#banner_10 {
    background-color: #5c74e0;
    color: white;
}
ul {
  list-style-type: circle;
  border: 5px solid gray;
  margin: 5px;
  padding-left: 25px;
}
#boton {
  background-color: #5c74e0;
  color: white;
  border-color: #5c74e0;
}